// CLEARFIX: Updated to prevent margin-collapsing on child elements
// http://goo.gl/11FI

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

// http://goo.gl/KeLlT
.clearfix {
  zoom: 1;
}
