$helper-block-margin: 1em !default;
$helper-block-margin-top: $helper-block-margin !default;
$helper-block-margin-bottom: $helper-block-margin !default;

.block {
  margin-top: $helper-block-margin-top;
  margin-bottom: $helper-block-margin-bottom;
}
