$helper-border-light-color: #f0f0f0 !default;
$helper-border-medium-color: #eeeeee !default;
$helper-border-dark-color: #cccccc !default;

.border {
  border-width: 1px;
  border-style: solid;
}

.border-light, .border-dark, .border-medium {
  @extend .border;
}

.border-light {
  border-color: $helper-border-light-color;
}

.border-medium {
  border-color: $helper-border-medium-color;
}

.border-dark {
  border-color: $helper-border-dark-color;
}
