.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-clear {
  clear: both;
}

.pull-clear-left {
  clear: left;
}

.pull-clear-right {
  clear: right;
}

.pull-left, .pull-right {
  @include respond-to(handhelds, wide-handhelds)   { float: none; display: block; }
}
