$helper-size-array: (5 10 15 20 25 30 33 40 50 60 66 75);

.size {
  &.pull-left:not(.pull-center) {
    margin-left: 0;
  }

  &.pull-right:not(.pull-center) {
    margin-right: 0;
  }
}

@each $size in $helper-size-array {
  .size-#{$size} {
    @include box-sizing(border-box);
    width: .9*$size * 1%;
    padding: .05*$size * 1%;

    @extend .size;
    &:not(.pull-center) {
      margin-left: .05*$size * 1%;
      margin-right: .05*$size * 1%;
    }

  }
}

