$snippet-container-width: 90% !default;
$snippet-container-handhelds-width: 95% !default;
$snippet-container-wide-handhelds-width: 90% !default;
$snippet-container-tablets-width: 90% !default;
$snippet-container-small-screens-width: 90% !default;
$snippet-container-wide-screens-width: 90% !default;

$snippet-container-max-width: 1100px !default;
$snippet-container-padding: 1em 0;

.container {
  margin-left: auto;
  margin-right: auto;
  width: $snippet-container-width;
  padding: $snippet-container-padding;
  max-width: $snippet-container-max-width;
  @include respond-to(handhelds)          { width: $snippet-container-handhelds-width; }
  @include respond-to(wide-handhelds)     { width: $snippet-container-wide-handhelds-width; }
  @include respond-to(tablets)            { width: $snippet-container-tablets-width; }
  @include respond-to(small-screens)      { width: $snippet-container-small-screens-width; }
  @include respond-to(wide-screens)       { width: $snippet-container-wide-screens-width; }
}
